.hero-area {
  background: url("https://proone.vercel.app/img/Clip.png");
  background-position: 50%;
  background-size: cover;
  height: 125vh;
  position: relative;
}
.hero-area::before {
  content: "";
  background-image: url("../components/71YAIFU48IL._AC_UL640_QL65_ML3_-removebg-preview.png");
  position: absolute;
  right: 0;
  bottom: -120px;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: 100%;
  max-width: 660px;
  background-size: contain;
  animation: float 3s ease-in-out infinite;
}
.hero-content {
  top: 50%;
  position: absolute;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.hero-content h1 {
  font-size: 58px;
  color: #fff;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
}
.hero-content p {
  color: #ececec;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}
.buttonfx {
  padding: 10px 32px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  background-color: #c065de;
  color: #fff;
  z-index: 1;
}
.starting {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  position: relative;
}
.watch {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-discount {
  position: relative;
  display: inline-block;
  padding: 63px 31px;
  z-index: 2;
  top: -95px;
  text-align: center;
  border-radius: 50%;
}
.hero-discount:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  content: "";
  background: linear-gradient(#282355, #593087);
  border-radius: 50%;
  z-index: -1;
}
.hero-discount h1 {
  font-size: 100px;
  color: #fff;
  line-height: 68px;
  margin-left: 17px;
  margin-top: 20px;
}
.hero-discount h1 sup {
  font-size: 60px;
  top: -30px;
  left: -16px;
}
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

.hero-discount h1 span {
  font-size: 35px;
  color: #feac01;
  right: 35px;
  position: absolute;
  bottom: 120px;
}
.hero-discount p {
  color: #feac01;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 2px;
}
p {
  margin: 0 0 10px;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@media (max-width: 768px) {
  .hero-content {
    top: 50%;
    transform: translateY(-50%);
  }
  .hero-content h1 {
    font-size: 2.5rem; /* Adjust font size for tablets */
  }
  .hero-content p {
    font-size: 1rem; /* Adjust font size for tablets */
  }
  .buttonfx {
    font-size: 0.75rem; /* Adjust button font size for tablets */
  }
  .starting {
    font-size: 1rem; /* Adjust starting text size for tablets */
  }
  .hero-discount {
    display: none; /* Hide hero-discount for tablets */
  }
  .watch {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .hero-content {
    top: 50%;
    transform: translateY(-50%);
  }
  .hero-content h1 {
    font-size: 1.75rem; /* Adjust font size for mobile */
  }
  .hero-content p {
    font-size: 0.875rem; /* Adjust font size for mobile */
  }
  .buttonfx {
    font-size: 0.625rem; /* Adjust button font size for mobile */
  }
  .starting {
    display: none; /* Adjust starting text size for mobile */
  }
  .hero-discount {
    display: none; /* Hide hero-discount for mobile */
  }
}
